$font-dir: '../fonts/';
$image-dir: '../img/';

$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@font-face {
  font-family: 'AgencyFB_normal_HUN';
  src: url($font-dir + 'AgencyFB_normal_HUN.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url($font-dir + 'AgencyFB_normal_HUN.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'AgencyFB_bold_HUN';
  src: url($font-dir + 'AgencyFB_bold_HUN.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url($font-dir + 'AgencyFB_bold_HUN.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

@font-face {
  font-family: 'Montserrat_black';
  src: url($font-dir + 'Montserrat-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoCondensed_bold';
  src: url($font-dir + 'RobotoCondensed-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  src: url($font-dir + 'Impact_latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  src: url($font-dir + 'Impact_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, 'sans-serif';
}

input[type="text"], textarea, select {
  display: block;
  width: calc(100% - 30px);
  padding: 10px 15px;
  border: 1px solid white;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  font-size: 14pt;
  resize: vertical;
  font-family: Helvetica, Arial, serif;
}
input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  border: 1px solid lightgray;
  border-bottom: 2px solid black;
}

select {
  width: 100%;
  padding: 10px;
}

#content {
  display: grid;
  grid-template-columns: 450px auto;
  grid-template-rows: auto;
}

.settings_panel {
  width: 100%;
}

.controls {
  margin: 20px;
}

.preview_cnt {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url($image-dir + 'bg-graph-tile-1.png');
}

.poster_type_options {
  margin: 20px 20px 40px;
}

.save-buttons {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.save-btn {
  width: 130px;
  margin-bottom: 5px;
  padding: 10px 0;
  border: 2px solid black;
  font-size: 12pt;
  background: white;
  cursor: pointer;
}
.save-btn:hover, .save-btn:focus {
  background: black;
  color: white;
}

.input-label-text {
  display: block;
  margin-top: 30px;
  font-size: 14pt;
}

.switch span {
  display: block;
  float: left;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  width: calc(50% - 24px);
  border: 2px solid black;
  cursor: pointer;
}

.switch.inline span {
  width: auto !important;
  padding: 5px 10px 3px;
}

.switch span.checked {
  background-color: black;
  color: white;
}

#image-select {
  overflow: hidden;
}

#image-select-userimage {
  display: none;
  padding: 20px 0;
}

#form_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#form_image + label {
  display: inline-block;
  padding: 5px 0;
  border: 2px solid black;
  cursor: pointer;
  width: 126px;
  text-align: center;
}
#form_image:focus + label, #form_image + label:hover {
  background-color: black;
  color: white;
}

#save-btn {
  margin-top: 50px;
}

.dropzone {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.dropzone p {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0;
  font-size: 40px;
  text-align: center;
  white-space: nowrap;
  pointer-events: none;
}

@media (max-width: 900px) {
  #content {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}
