.preview_event_cover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  canvas {
    display: block;
    max-width: 95%;
    max-height: 95vh;
  }
}

.bg-switch {
  margin: 30px 0 10px;
}

#background-defaults {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  img {
    display: block;
    width: 100%;
    cursor: pointer;
  }

  .bg_item {
    position: relative;
  }

  .selected_bg_overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    font-size: 50px;
  }
}

#background-custom {
  display: none;
}

.background-scroll-container {
  /* Set a maximum height. Adjust this value as needed. */
  max-height: 400px; 
  
  /* Show a vertical scrollbar ONLY if the content overflows */
  overflow-y: auto; 
  
  /* Add some padding for better spacing */
  padding: 5px; 
  
  /* A subtle border can help define the area */
  border: 1px solid #ccc; 
  border-radius: 4px;
  margin-bottom: 15px;
}

